#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-container{
  display: flex;
  justify-content: space-around;
}

.productCard {
  background-color: rgb(255, 210, 255);
  min-width: 250px;
  max-width: 280px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}


.showAllProducts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;     /* FULL WIDTH */
  gap: 20px;       /* spacing between cards */
}
